<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="/assets/css/zoom.css" />
  <link rel="stylesheet" href="/assets/css/gitalk.css" />
  <link rel="stylesheet" href="/assets/css/syntax.css" />
  <script src="assets/js/mermaid.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/zoom.min.js"></script>
  <script src="assets/js/zoom_init.js"></script>
  <script src="assets/js/mermaid_config.js"></script>
  <script src="assets/js/gitalk.min.js"></script>
  <script src="assets/js/gitalk_init.js"></script>
</head>
