// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  // width: fit-content;
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

pre {
  white-space: pre-wrap
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '' }
  &:after { content: attr(data-content) '' }
}

table, th, td {
  width: -webkit-fill-available;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
  border-radius: 10px;
  padding: 0px 2px 0px 2px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.img-left {
  max-width: 100%;
  float: left;
  display: block;
  margin:0px 20px 20px 0px;
}

.img-right {
  max-width: 100%;
  float: right;
  margin:0px 10px 20px 20px;
  display: block;
}

div.mermaid {
  text-align: center;
}
